[submodule "miss_ekf"]
	path = miss_ekf
	url = git@github.com:Pequi-Mecanico-Home/miss_ekf.git
[submodule "miss_description"]
	path = miss_description
	url = git@github.com:Pequi-Mecanico-Home/miss_description.git
[submodule "miss_slam"]
	path = miss_slam
	url = git@github.com:Pequi-Mecanico-Home/miss_slam.git
[submodule "miss_navigation"]
	path = miss_navigation
	url = git@github.com:Pequi-Mecanico-Home/miss_navigation.git
